<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title><%= title %></title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="stylesheets/bootstrap.css">
<!-- Optional theme -->
<!-- Probably will not be needed
<link rel="stylesheet" href="stylesheets/bootstrap-theme.css"> -->
<link rel='stylesheet' href='stylesheets/style.css' />

<style type="text/css"> 
     @font-face {   font-family: 'Glyphicons Halflings';   
     src: url('fonts/glyphicons-halflings-regular.eot');   
     src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('fonts/glyphicons-halflings-regular.woff') format('woff'),  
     url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'); } 
</style>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
